.App {
    text-align: center;
  }
  
  *{
    box-sizing: border-box;
    
  }
  
  .App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main{
    flex: 1 1 auto;
  }
  
  a{
    color: inherit;
    padding: 0 10px;
  }
  header, footer{
    background-color: black;
    color: #fff;
    padding: 30px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .shop{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .pizza{
    width: 250px;
    padding: 20px;
  }
  
  .pizza img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .item_in_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .item_in_cart img{
    width: 100px;
  }